{% if use_advanced_embed %}
  <video
    id="myExperience{{ video_id }}"
    class="BrightcoveExperience"

    data-video-id="{{ video_id }}"
    data-account="{{ account_id }}"
    data-player="{{ player_id }}"
    data-embed="{{ embed_id }}"
    width="{{ width }}"
    height="{{ height }}"
    {% if application_id %}
      data-application-id="{{ application_id }}"
    {% endif %}
    {% if show_controls %}
      controls
    {% endif %}
  ></video>
  <script src="//players.brightcove.net/{{ account_id }}/{{ player_id }}/index.min.js"></script>
{% else %}
  <iframe
    src="//players.brightcove.net/{{ account_id }}/{{ player_id }}_{{ embed_id }}/index.html?videoId={{ video_id }}"
    allowfullscreen
    webkitallowfullscreen
    mozallowfullscreen
  ></iframe>
{% endif %}
